[Unit]
Description=Prepare snapper for first boot snapshot
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "snapper -c root create-config /"
RemainAfterExit=no
ExecStop=/bin/bash -c "systemctl disable firstbootsnapshot && rm /etc/systemd/system/firstbootsnapshot.service && snapper -c root create --description 'finished install'"
StandardOutput=journal

[Install]
WantedBy=multi-user.target
